 {{# each products}}
<div class="row">
    {{# each this }}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="{{this.imagePath}}" alt="Image not found." class="img-responsive">

            <div class="caption">
                <h4>{{this.title}}</h4>

                <p class="description">{{this.description}}</p>


                <div class="clearfix">
                    <div class="price pull-left">{{this.price}}</div>

                    <a href="/add-to-cart/{{this._id}}" class="btn btn-success pull-right" role="button">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>


    {{/each}}
</div>

{{/each}} {{!--
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img src="https://www.game-legends.com/products/apparel/t-shirts/3244/dying-light-t-shirt-black-und-white" , alt="Image not found.">
    </div>
    <div class="caption">
        <h4>TShirt</h4>

    </div>
    <div class="clearfix">
        <div class="price">Rs. 200</div>
        <a href="#" class="btn btn-success" role="button">Button</a>
    </div>
</div>
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img src="https://www.game-legends.com/products/apparel/t-shirts/3244/dying-light-t-shirt-black-und-white" , alt="Image not found.">
    </div>
    <div class="caption">
        <h4>TShirt</h4>

    </div>
    <div class="clearfix">
        <div class="price">Rs. 200</div>
        <a href="#" class="btn btn-success" role="button">Button</a>


    </div>
</div> --}}